body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: #900020;
}

nav a {
  margin: 1rem 2rem;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(240, 240, 240);
  transition: 0.1s;
  background-color: #900020;
}

nav a:hover {
  color: white;
  background-color: #900020;
}

nav a.active {
  color: white;
  background-color: #900020;
}

.form-name {
  padding: 20px;
  margin-top: 10px;
  margin-right: 25%;
  margin-left: 25%;
  background-color: black;
  color: white;
}

.login-form {
  padding: 10px;
  margin: 10px;
  background-color: beige;
}

.login-button {
  padding: 10px;
  margin: 10px;
  background-color: #e9ddd4;
}
